header.main_header {
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;

    .main-assets {
        width: 100%;
        border-bottom: 1px solid rgb(var(--dark), .1);
        background-color: rgb(var(--light));

        .assets-align-copper {
            height: 60px;
            display: flex;
            align-items: center;

            .assets-left {
                display: flex;
                align-items: center;
                gap: 30px;

                .logo-item {
                    width: max-content;

                    img {
                        width: 90px;

                        @media (max-width: 991px) {
                            width: 90px;
                        }
                    }
                }
            }

            .assets-center {
                width: 100%;
                display: flex;
                justify-content: center;

                .input-component {
                    height: 38px;
                    min-width: 200px;
                    max-width: 80%;
                    width: 300px;
                    border-radius: 4px;
                    border: 1px solid rgb(var(--dark), .1);
                    background-color: #fff;
                    position: relative;
                    font-size: 15px;

                    @media (max-width: 991px) {
                        display: none;
                    }

                    .icon {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 40px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            width: 22px;
                            height: 22px;
                            stroke: rgb(var(--dark), .85);
                            margin-top: -1px;
                        }
                    }

                    input {
                        width: 100%;
                        height: 40px;
                        margin-top: -3px;
                        background-color: transparent;
                        padding: 0 30px 0 40px;
                        outline: none;
                    }

                    .sarch-text {
                        width: 100%;
                        height: 40px;
                        margin-top: -3px;
                        background-color: transparent;
                        outline: none;
                        color: rgb(var(--dark), .7);
                        display: flex;
                        margin-top: -2px;
                        align-items: center;
                        padding-left: 40px;
                    }

                    .cleaner-copper {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 30px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            width: 18px;
                            height: 18px;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(var(--dark), .1);
                            border: 1px solid rgb(var(--dark), .1);
                            transition: 1s;

                            svg {
                                width: 15px;
                                height: 15px;
                            }

                            &:active {
                                transition: .08s;
                                transform: scale(.8);
                            }
                        }
                    }
                }
            }

            .assets-right {
                .assets-right-copper {
                    width: max-content;
                    display: flex;
                    justify-content: right;
                    gap: 30px;

                    @media (max-width: 991px) {
                        gap: 20px;
                    }

                    .assets-list-item {
                        position: relative;
                        align-items: center;
                        display: flex;
                        gap: 5px;

                        &.search-item-responsive {
                            display: none;

                            @media (max-width: 991pxassets-money-emout) {
                                display: flex;
                            }
                        }

                        .assets-money-emout {
                            font-size: 15px;
                            font-weight: 600;
                            color: rgb(var(--dark));

                            @media (max-width: 460px) {
                                display: none;
                            }

                            &.auth-text {
                                font-size: 14px;
                                line-height: 110%;

                                .lighter {
                                    color: rgb(var(--dark), .5);
                                }
                            }
                        }

                        .menu-list-item {
                            width: 36px;
                            height: 36px;
                            border-radius: 100%;
                            background-color: rgb(var(--dark), .04);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                width: 24px;
                                height: 24px;
                                stroke: rgb(var(--dark), .82);
                            }
                        }

                        .assets-item-counter {
                            padding: 0 4px;
                            height: 20px;
                            position: absolute;
                            right: -12px;
                            top: 2px;
                            font-size: 11px;
                            border-radius: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgb(var(--dark));
                            color: rgb(var(--light));
                            font-weight: 600;
                        }
                    }

                    .assets-profile {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        overflow: hidden;
                        
                        .image {
                            width: 36px;
                            height: 36px;
                            background-color: rgb(var(--dark), .02);
                            border: 1px solid rgb(var(--dark), .11);
                            border-radius: 100%;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .profile-name {
                            font-size: 15px;
                            color: rgb(var(--dark), .6);

                            @media (max-width: 991px) {
                                display: none;
                            }

                            span {
                                color: rgb(var(--dark));
                                font-weight: 600;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-nav {
        width: 100%;
        border-bottom: 1px solid rgb(var(--dark), .1);
        background-color: rgb(var(--light));
        display: flex;

        .main-nav-assets {
            display: flex;
            align-items: center;
            height: 45px;

            .nav-left-assets {
                .nav-left-assets-copper {
                    display: flex;
                    width: max-content;
                    align-items: center;
                    gap: 40px;

                    .selected-category {
                        display: flex;
                        font-size: 15px;
                        gap: 5px;
                        font-weight: 500;
                        background-color: rgb(var(--dark), .03);
                        border: 1px solid rgb(var(--dark), .1);
                        padding: 2px 10px;
                        border-radius: 40px;

                        svg {
                            margin-top: 2px;
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .nav-actions-list {
                        ul {
                            display: flex;
                            font-size: 15px;
                            font-weight: 500;
                            gap: 20px;

                            li {
                                a {
                                    position: relative;

                                    &.active {
                                        font-weight: 800;
                                    }

                                    &.active::after {
                                        content: "";
                                        position: absolute;
                                        width: 30px;
                                        height: 4px;
                                        bottom: -5px;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                        border-radius: 10px;
                                        background-color: rgb(var(--theme));
                                        
                                        @media (max-width: 991px) {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        .mobile-session {
                            display: none;
                        }

                        @media (max-width: 991px) {
                            position: absolute;
                            background-color: rgb(var(--light));
                            width: 100%;
                            height: calc(100vh - 106px);
                            left: 0;
                            top: 106px;
                            border-top: 1px solid rgb(var(--dark), .1);
                            overflow-y: scroll;

                            ul {
                                display: block;
                                padding: 15px;

                                li {
                                    margin-bottom: 14px;

                                    a {
                                        padding: 5px 14px;
                                        border-radius: 40px;
                                        background-color: rgb(var(--dark), .1);

                                        &.active {
                                            border: 2px solid rgb(var(--theme), .4);
                                            background-color: rgb(var(--theme), .1);
                                        }
                                    }
                                }
                            }

                            .mobile-session {
                                display: block;

                                .title {
                                    padding: 0 18px;
                                    font-size: 16px;
                                    font-weight: bold;
                                }

                                ul {
                                    li {
                                        margin-bottom: 8px;

                                        a {
                                            align-items: center;
                                            display: flex;
                                            gap: 10px;
                                            line-height: 100%;
                                            width: max-content;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .nav-right-assets {
                width: 100%;
                display: flex;
                justify-content: right;
                gap: 20px;

                .nav-contact {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &.mobile-button-icon {
                        display: none;
                    }

                    @media (max-width: 991px) {
                        display: none;

                        &.mobile-button-icon {
                            display: flex;
                        }
                    }


                    .text {
                        font-size: 15px;
                        font-weight: 500;

                        span {
                            color: rgb(var(--dark), .6);
                        }
                    }

                    .icon {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            width: 22px;
                            height: 22px;
                            stroke: rgb(var(--dark), .85);
                        }
                    }
                }
            }
        }
    }
}

.drawer-container {

    &::after,
    & *::after {
        display: none;
    }
}

.container-copper {
    width: 100%;
    display: flex;
    gap: 20px;
    flex: 0;

    @media (max-width: 991px) {
        display: block;
    }

    .container-products-list {
        width: 100%;

        .products-fields-list {
            .topbar-list-products {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgb(var(--dark), .1);
                padding-bottom: 15px;
                margin-bottom: 15px;

                @media (max-width: 539px) {
                    display: block;
                }

                .text {
                    font-size: 25px;
                    font-weight: 800;
                    color: rgb(var(--dark));
                    text-transform: capitalize;

                    @media (max-width: 539px) {
                        margin-bottom: 10px;
                    }
                }

                .action {
                    button {
                        padding: 6px 20px;
                        border-radius: 10px;
                        background-color: rgb(var(--theme));
                        color: rgb(var(--light));
                        font-size: 15px;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        transition: .2s;
                        gap: 10px;

                        svg {
                            width: 20px;
                            height: 20px;
                        }

                        &:active {
                            transition: .08s;
                            opacity: .5;
                        }
                    }
                }
            }

            .product-list {
                .product {
                    padding: 6px;
                    background-color: rgb(var(--dark), .06);
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .product-image {
                        width: max-content;

                        div {
                            width: 100px;
                            height: 100px;
                            border-radius: 10px;
                            background-color: rgb(var(--dark), .05);
                            display: flex;
                            align-items: center;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .details-quantity-flex {
                        display: flex;
                        width: 100%;

                        @media (max-width: 800px) {
                            display: block;
                        }

                        .product-details {
                            display: flex;
                            align-items: center;
                            width: 100%;

                            .name {
                                font-size: 16px;
                                font-weight: 800;
                            }

                            .price {
                                display: flex;
                                margin-top: 2px;
                                gap: 20px;
                                align-items: center;

                                @media (max-width: 539px) {
                                    display: block;
                                }

                                .price-primary {
                                    font-size: 15px;
                                    font-weight: 800;
                                    color: rgb(var(--theme));

                                    @media (max-width: 539px) {
                                        margin-right: 10px;
                                    }    
                                }

                                .price-singular {
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: rgb(var(--dark), .6);

                                    &::before {
                                        content: "- Cada "
                                    }
                                }
                            }

                            .detail {
                                border-radius: 20px;
                                font-size: 15px;
                                font-weight: 600;
                                display: flex;
                                margin-top: 5px;
                                gap: 5px;
                                align-items: center;

                                @media (max-width: 539px) {
                                    display: block;
                                }

                                .details-frete {
                                    border-radius: 20px;
                                    background-color: rgb(var(--dark), .1);
                                    color: rgb(var(--dark));
                                    padding: 0 10px;
                                }

                                .details-loja {
                                    border-radius: 20px;
                                    padding: 0 10px;
                                    font-size: 13px;
                                    cursor: pointer;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }

                        .quantity-section {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            @media (max-width: 800px) {
                                margin-top: 20px;
                            }

                            input {
                                width: 60px;
                                height: 35px;
                                border: 1px solid rgb(var(--dark), .2);
                                border-radius: 10px;
                                text-align: center;
                                font-size: 15px;
                                font-weight: 600;
                            }

                            button {
                                width: 35px;
                                height: 35px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                                border-radius: 40px;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }

                                &:hover {
                                    background-color: rgb(var(--dark), .2);
                                }
                            }
                        }
                    }

                    .delete-button {
                        align-items: center;
                        display: flex;
                        height: 100%;
                        border-radius: 10px;
                        padding: 10px;
                        color: rgb(var(--dark));
                        cursor: pointer;

                        &:hover {
                            background-color: rgb(var(--theme), .2);
                        }
                    }
                }
            }
        }
    }

    .container-payment-status {
        display: flex;
        justify-content: center;
        gap: 60px;

        div.c-flex {
            width: 500px;
            border: 1px solid rgb(var(--dark), .2);
            border-radius: 10px;
            overflow: hidden;

            @media (max-width: 991px) {
                width: 100%;
            }

            .c-flex-topbar {
                padding: 10px 20px;
                justify-content: space-between;
                border-bottom: 1px solid rgb(var(--dark), .1);
                align-items: center;
                display: flex;
                background-color: rgb(var(--theme), .1);

                span {
                    font-size: 15px;
                    font-weight: 500;
                    color: rgb(var(--dark));
                }

                button {
                    padding: 5px 15px;
                    background-color: rgb(var(--dark));
                    border-radius: 8px;
                    color: rgb(var(--light));
                    font-size: 15px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    transition: .12s;

                    svg {
                        width: 20px;
                        height: 20px;
                    }

                    &:active {
                        transition: .08s;
                        opacity: .8;
                    }
                }
            }

            .c-flex-payment-container {
                padding: 20px 20px;

                .inf-line {
                    display: flex;
                    justify-content: space-between;
                    font-size: 15px;
                    font-weight: 500;
                    color: rgb(var(--dark));
                    align-items: center;

                    .inf-item {
                        &.value {
                            font-weight: 800;
                            color: rgb(var(--theme));
                        }
                    }

                    &.devider {
                        border-top: 1px solid rgb(var(--dark), .1);
                        margin-top: 20px;
                        padding-top: 20px;
                    }
                }

                .actions-button {
                    button {
                        width: 100%;
                        padding: 15px 20px;
                        background-color: rgb(var(--dark));
                        border-radius: 8px;
                        color: rgb(var(--light));
                        font-size: 15px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        transition: .12s;
                        justify-content: center;
                        text-transform: capitalize;
                        gap: 10px;
                        margin-top: 24px;
                    }
                }

                .cart-image {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-top: 24px;

                    img {
                        width: 100%;
                        min-width: 250px;
                        max-width: 240px;
                    }
                }

                .cart-protect-information {
                    width: 100%;
                    padding: 10px 15px;
                    border-radius: 10px;
                    margin-top: 30px;
                    background-color: rgb(var(--selected), .1);
                    border: 2px solid rgb(var(--selected));

                    .title {
                        font-size: 16px;
                        font-weight: 800;
                        color: rgb(var(--dark));

                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .desc {
                        font-size: 15px;
                        font-weight: 500;
                        color: rgb(var(--dark));
                    }
                }
            }
        }
    }
}

.dropdown-menu-restyle {
    width: 300px;
    max-width: 400px;
    position: absolute;
    right: -66px;
    background-color: rgb(var(--light));
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid rgb(var(--dark),.2);

    @media (max-width: 991px) {
        right: -18px;
    }

    .dropdown-container {
        padding: 5px 10px;
    }

    .dropdown-profile {
        display: flex;
        justify-content: center;
        padding: 30px 0;

        .dropdown-profile-center {
            width: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            .profile-image {
                width: 80px;
                height: 80px;
                border-radius: 100%;
                background-color: rgb(var(--dark), .02);;
                box-shadow: 0 0 0 3px rgb(var(--selected), .02), 0 0 0 5px rgb(var(--dark), .02);;
                position: relative;

                .profile-image-copper {
                    overflow: hidden;
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                // .profile-types {
                //     width: 26px;
                //     height: 26px;
                //     position: absolute;
                //     right: 0;
                //     bottom: -5px;
                //     border-radius: 100%;

                //     svg {
                //         fill: var(--green-00);
                //         stroke: var(--white-00);
                //     }
                
                //     svg {
                //         width: 100%;
                //         height: 100%;
                //     }
                // }
            }

            .profile-inf {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                align-items: center;
                gap: 0;

                .profile-name {
                    font-size: 15px;
                    font-weight: 700;
                }

                .profile-title {
                    font-size: 13px;
                    font-weight: 600;
                    color: var(--black-06);
                    background-color: rgb(var(--selected), .02);;
                    padding: 2px 10px;
                    border-radius: 14px;
                    border: 1px solid rgb(var(--dark), .02);;
                }
            }
        }
    }

    .dropdown-actions {
        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;

            li {
                a {
                    display: flex;
                    width: 100%;
                    padding: 6px 14px;
                    border-radius: 5px;
                    font-size: 14px;
                    font-weight: 500;
                    align-items: center;
                    gap: 6px;

                    svg {
                        width: 20px;
                        height: 20px;
                        margin-top: -2.3px;
                    }

                    &:hover {
                        background-color: rgb(var(--dark), .1);;
                    }
                }
            }

            &.danger-section {
                border-top: 1px solid rgb(var(--dark), .02);;
                margin-top: 10px;
                padding-top: 10px;

                li {
                    a {
                        display: flex;
                        width: 100%;
                        padding: 6px 14px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 500;
                        align-items: center;
                        gap: 6px;

                        svg {
                            width: 20px;
                            height: 20px;
                            margin-top: -2.3px;
                        }

                        &:hover {
                            background-color: rgb(255, 201, 201);
                        }
                    }
                }
            }
        }
    }
}

.end-session-config {
    .title {
        font-size: 20px;
        font-weight: 800;
        color: rgb(var(--dark));
        margin-bottom: 5px;
    }
    
    .description {
        font-size: 15px;
        color: rgb(var(--dark),.8);
        margin-bottom: 10px;
    }

    .actions {
        display: flex;
        justify-content: right;
        margin-top: 10px;
        gap: 10px;

        .log-out-btn {
            padding: 5px 10px;
            font-size: 15px;
            font-weight: 600;
        }

        .log-cancel {
            background-color: rgb(var(--theme));
            color: rgb(var(--light));
            padding: 5px 14px;
            font-size: 15px;
            font-weight: 600;
            border-radius: 10px;
        }
    }
}