header.main_header {
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;

    .main-assets {
        width: 100%;
        border-bottom: 1px solid rgb(var(--dark), .1);
        background-color: rgb(var(--light));
        
        .assets-align-copper {
            height: 60px;
            display: flex;
            align-items: center;

            .assets-left {
                display: flex;
                align-items: center;
                gap: 30px;
                
                .logo-item {
                    width: max-content;

                    img {
                        width: 90px;
                        
                        @media (max-width: 991px) {
                            width: 90px;
                        }
                    }
                }
            }

            .assets-center {
                width: 100%;
                display: flex;
                justify-content: center;

                .input-component {
                    height: 38px;
                    min-width: 200px;
                    max-width: 80%;
                    width: 300px;
                    border-radius: 4px;
                    border: 1px solid rgb(var(--dark), .1);
                    background-color: #fff;
                    position: relative;
                    font-size: 15px;

                    @media (max-width: 991px) {
                        display: none;
                    }

                    .icon {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 40px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            width: 22px;
                            height: 22px;
                            stroke: rgb(var(--dark),.85);
                            margin-top: -1px;
                        }
                    }

                    input {
                        width: 100%;
                        height: 40px;
                        margin-top: -3px;
                        background-color: transparent;
                        padding: 0 30px 0 40px;
                        outline: none;
                    }

                    .sarch-text {
                        width: 100%;
                        height: 40px;
                        margin-top: -3px;
                        background-color: transparent;
                        outline: none;
                        color: rgb(var(--dark),.7);
                        display: flex;
                        margin-top: -2px;
                        align-items: center;
                        padding-left: 40px;
                    }

                    .cleaner-copper {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 30px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        button {
                            width: 18px;
                            height: 18px;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: rgb(var(--dark), .1);
                            border: 1px solid rgb(var(--dark), .1);
                            transition: 1s;

                            svg {
                                width: 15px;
                                height: 15px;
                            }

                            &:active {
                                transition: .08s;
                                transform: scale(.8);
                            }
                        }
                    }
                }
            }

            .assets-right {
                .assets-right-copper {
                    width: max-content;
                    display: flex;
                    justify-content: right;
                    gap: 30px;

                    @media (max-width: 991px) {
                        gap: 20px;
                    }

                    .assets-list-item {
                        position: relative;
                        align-items: center;
                        display: flex;
                        gap: 5px;

                        &.search-item-responsive {
                            display: none;

                            @media (max-width: 991pxassets-money-emout) {
                                display: flex;
                            }
                        }

                        .assets-money-emout {
                            font-size: 15px;
                            font-weight: 600;
                            color: rgb(var(--dark));
                            
                            @media (max-width: 460px) {
                                display: none;
                            }

                            &.auth-text {
                                font-size: 14px;
                                line-height: 110%;

                                .lighter {
                                    color: rgb(var(--dark),.5);
                                }
                            }
                        }

                        .menu-list-item {
                            width: 36px;
                            height: 36px;
                            border-radius: 100%;
                            background-color: rgb(var(--dark), .04);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                                width: 24px;
                                height: 24px;
                                stroke: rgb(var(--dark), .82);
                            }
                        }

                        .assets-item-counter {
                            padding: 0 4px;
                            height: 20px;
                            position: absolute;
                            right: -12px;
                            top: 2px;
                            font-size: 11px;
                            border-radius: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgb(var(--dark));
                            color: rgb(var(--light));
                            font-weight: 600;
                        }
                    }

                    .assets-profile {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .image {
                            width: 36px;
                            height: 36px;
                            background-color: rgb(var(--dark), .02);
                            border-radius: 100%;
                            border: 1px solid rgb(var(--dark), .11);
                        }

                        .profile-name {
                            font-size: 15px;
                            color: rgb(var(--dark), .6);

                            @media (max-width: 991px) {
                                display: none;
                            }

                            span {
                                color: rgb(var(--dark));
                                font-weight: 600;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-nav {
        width: 100%;
        border-bottom: 1px solid rgb(var(--dark), .1);
        background-color: rgb(var(--light));
        display: flex;
        
        .main-nav-assets {
            display: flex;
            align-items: center;
            height: 45px;

            .nav-left-assets {
                .nav-left-assets-copper {
                    display: flex;
                    width: max-content;
                    align-items: center;
                    gap: 40px;

                    .selected-category {
                        display: flex;
                        font-size: 15px;
                        gap: 5px;
                        font-weight: 500;
                        background-color: rgb(var(--dark), .03);
                        border: 1px solid rgb(var(--dark), .1);
                        padding: 2px 10px;
                        border-radius: 40px;

                        svg {
                            margin-top: 2px;
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .nav-actions-list {
                        ul {
                            display: flex;
                            font-size: 15px;
                            font-weight: 500;
                            gap: 20px;
                        }

                        .mobile-session {
                            display: none;
                        }

                        @media (max-width: 991px) {
                            position: absolute;
                            background-color: rgb(var(--light));
                            width: 100%;
                            height: calc(100vh - 106px);
                            left: 0;
                            top: 106px;
                            border-top: 1px solid rgb(var(--dark), .1);
                            overflow-y: scroll;

                            ul {
                                display: block;
                                padding: 15px;

                                li {
                                    margin-bottom: 14px;

                                    a {
                                        padding: 5px 14px;
                                        border-radius: 40px;
                                        background-color: rgb(var(--dark), .1);
                                        
                                        &.active {
                                            border: 2px solid rgb(var(--theme), .4);
                                            background-color: rgb(var(--theme), .1);
                                        }
                                    }
                                }
                            }

                            .mobile-session {
                                display: block;

                                .title {
                                    padding: 0 18px;
                                    font-size: 16px;
                                    font-weight: bold;
                                }

                                ul {
                                    li {
                                        margin-bottom: 8px;

                                        a {
                                            align-items: center;
                                            display: flex;
                                            gap: 10px;
                                            line-height: 100%;
                                            width: max-content;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .nav-right-assets {
                width: 100%;
                display: flex;
                justify-content: right;
                gap: 20px;

                .nav-contact {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    &.mobile-button-icon {
                        display: none;
                    }
                    
                    @media (max-width: 991px) {
                        display: none;
                        
                        &.mobile-button-icon {
                            display: flex;
                        }
                    }


                    .text {
                        font-size: 15px;
                        font-weight: 500;

                        span {
                            color: rgb(var(--dark), .6);
                        }
                    }

                    .icon {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            width: 22px;
                            height: 22px;
                            stroke: rgb(var(--dark),.85);
                        }
                    }
                }
            }
        }
    }
}

.dropdown-menu-restyle {
    width: 300px;
    max-width: 400px;
    position: absolute;
    right: -66px;

    @media (max-width: 991px) {
        right: -18px;
    }

    .dropdown-container {
        padding: 5px 10px;
    }
}